body {
  background-color: rgba(242, 244, 271, 1);
}

@keyframes sway {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom center;
  }
  50% {
    transform: rotate(5deg);
    transform-origin: bottom center;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom center;
  }
}

#tree {
  animation: sway 5s infinite;
}

#tree2 {
  animation: sway 8s infinite;
}

#tree3{
  animation: sway 6s infinite;
}

.container {
  width: 300px;
  height: 300px;
  position: relative;
}

.big-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
}

.small-circle {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#circle1 {
  width: 30px;
  height: 30px;
  animation: orbit 15s linear infinite;
}

#circle2 {
  width: 50px;
  height: 50px;
  animation: orbit 17s linear infinite;
}

#circle3 {
  width: 75px;
  height: 75px;
  animation: orbit 20s linear infinite;
}

@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateX(250px) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateX(250px)
      rotate(-360deg);
  }
}

@media screen and (max-width: 692px) {
  #header {
    padding-top: 0;
  }
}

.header-main-logo {
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 100px;
  width: 150px;
  margin-top: -15px;
  padding: 0;
  margin-left: -50px;
}

@media screen and (max-width: 692px) {
  .header-main-logo {
    height: 150px;
    width: auto;
  }
}

.header-main {
  height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

@media screen and (max-width: 692px) {
  .header-main {
    height: auto;
    padding-top: 14px;
    position: static;
  }
}

@media screen and (max-width: 939px) {
  .header-main {
    text-align: center;
  }
}

.header-main-wrapper {
  width: 1120px;
  margin: auto;
}

@media screen and (max-width: 1140px) {
  .header-main-wrapper {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 939px) {
  .header-main-wrapper {
    width: auto;
    display: inline-block;
  }
}

@media screen and (max-width: 692px) {
  .header-main-wrapper {
    padding-left: 12px;
    padding-right: 12px;
    display: block;
  }
}

#header .header-main .header-main-wrapper .header-main-logo,
#header .header-main .header-main-wrapper .header-main-navigation {
  float: left;
  margin-left: 50px;
}

/* DONT CHANGE */
@media screen and (max-width: 692px) {
  #header .header-main .header-main-wrapper .header-main-logo,
  #header .header-main .header-main-wrapper .header-main-navigation {
    float: none;
    display: block;
    text-align: center;
  }
}

ul {
  list-style: none;
}

#header
  .header-main
  .header-main-wrapper
  .header-main-navigation
  .header-main-navigation-1 {
  margin-right: 14px;
  float: left;
  padding-top: 15px;
}

@media screen and (max-width: 692px) {
  #header
    .header-main
    .header-main-wrapper
    .header-main-navigation
    .header-main-navigation-1 {
    display: inline-block;
    float: none;
    padding-top: 0;
  }
}

#header .header-main .header-main-wrapper .header-main-controls {
  padding-top: 15px;
  float: right;
  justify-content: space-evenly;
  padding-right: ;
}

@media screen and (max-width: 939px) {
  #header .header-main .header-main-wrapper .header-main-controls {
    display: none;
  }
}

#header
  .header-main
  .header-main-wrapper
  .header-main-controls
  .header-main-controls
  .header-main-controls-login {
  margin-right: 0;
}

#header
  .header-main
  .header-main-wrapper
  .header-main-controls
  .header-main-controls
  .header-main-controls-register {
  margin-left: 0;
}

.header-main-controls-register-link {
  color: #fff;
  background-color: #377fea;
  padding: 10px 20px 12px;
  cursor: pointer;
  border-radius: 8px;
}

.header-main-controls li {
  display: inline-block;
  margin-right: 15px;
}

@media screen and (max-width: 1140px) {
  .header-main-controls {
    padding-right: 90px;
  }
}

.body-main {
  width: 100%;
  position: absolute;
  min-height: 800px
}

@media screen and (max-width: 1160px) {
  .body-main {
    height: 650px;
  }
}

@media screen and (max-width: 1080px) {
  .body-main {
    height: 730px;
  }
}

@media screen and (max-width: 730px) {
  .body-main {
    height: 780px;
  }
}

@media screen and (max-width: 600px) {
  .body-main {
    height: 800px;
  }
}

.body-wrapper {
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 800px;
}


.main-body-wrapper {
  position: absolute;
  height: 740px;
  width: 100%;
  top: 0;
  left: 0;
}

.circle-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}


.main-illustration {
  position: relative;
  height: 100%;
  width: 100%;
}

.people-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  transform: translate(-50%, -50%);
}


.people-image {
  position: absolute;
  top: 50%;
  left: 40%;
  height: 50%;
  transform: translate(-50%, -50%);
}

.man-image {
  position: absolute;
  top: 80%;
  left: 60%;
  height: 120%;
  transform: translate(-50%, -50%);
  z-index: 6;
}



.custom-shape-divider-bottom-1679047371 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1679047371 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 196px;
}

.custom-shape-divider-bottom-1679047371 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-top-1679048525 {
  position: absolute;
  bottom: -100;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1679048525 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 122px;
}

.custom-shape-divider-top-1679048525 .shape-fill {
  fill: #FFFFFF;
}

.tree-container{
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.blue-trees{
  position: relative;
}

.tree{
 position: absolute;
 height: 200px;
 margin-top: 150px;
}

.tree-2{
  position: absolute;
  height: 250px;
  margin-top: 130px;
  margin-left: 150px;
}

.tree-3{
  position: absolute;
  height: 210px;
  margin-top: 150px;
  margin-left: 200px;
}


#text-bubble-1 {
  position: absolute;
  top: 17%;
  left: 60%;
  transform: translateX(-50%);
  animation: fade-in 2s ease-in-out forwards, bobbing 1.5s ease-in-out infinite 2s;
  width: 100px;
}

#text-bubble-2 {
  opacity: 0;
  position: absolute;
  top: 5%;
  left: 100%;
  transform: translateX(-50%);
  animation: fade-in-2 2s ease-in-out forwards, bobbing 2s ease-in-out infinite 2s;
  width: 100px;
}

@keyframes fade-in-2 {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -150%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes bobbing {
  0%, 100% {
    transform: translate3d(-50%, -50%, 0);
  }
  50% {
    transform: translate3d(-50%, calc(-50% - 5px), 0);
  }
}

.search-container {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}

form{
  position: relative;
  top: 50%;
  left: calc(50%);
  transform: translate(-100%,-50%);
  transition: all 1s, top 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

@keyframes moveUp {
  0% {
    top: 50%;
  }
  100% {
    top: calc(50% - 300px);
  }
}

form.expanded {
  width: 200px;
  top: calc(50% - 150px);
  cursor: pointer;
  transform: translate(-100%, calc(-50% - 150px));
}

form.expanded input {
  display: block;
}

form.expanded .fa {
  background: #07051a;
  color: white;
}


a {
display: none;
position: absolute;
top: 70px;
bottom:0;
left: 0;
right: 0;
font-size: 20px;
color: white;
text-align: center; 
width: 100%;
}

form:valid a {
display: block;
}